*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: linear-gradient(to right, #66b4d3 0%, #66b4d3 100%);
    font-size: 12px;
}

body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.background {
    display: flex;
    min-height: 100vh;
}

.container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
}

.screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}


.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #66b4d3;
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #66b4d3;
}

.app-subtitle {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #66b4d3;
    font-size: 18px;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 12px;
    background: none;
    border: none;
    border-bottom: 1px solid #808080;
    color: #ddd;
    font-size: 16px;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #808080;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    background: none;
    border: none;
    color: #66b4d3;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #3d758b;
}

.dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}


/* New styling for output */
#output {
  margin-top: 20px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #ddd;
}

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}
